---
title: Portfolio
---

<% children = @item.children
   children = children.sort { |a,b| a.attributes[:number] <=> b.attributes[:number]  }
%>
<!--
<div class="projects-list">
	<h2>Projects</h2>
	<ul>
	<% children.each do |item| %>
		<li>
			<p><%= item.attributes[:title] %></p>
			<p><%= item.attributes[:description] %></p>
		</li>
	<% end %>
	</ul>
</div>
-->
<% children.each do |item| %>
	<article class="homepage-portfolio-item group <%= item.identifier.gsub(/\/portfolio\//, '').gsub(/\//, '') %>">
		<div class="item-description">
			<h3><span><%= item.attributes[:title] %></span></h3>
			<p><span><%= item.attributes[:description] %></span></p>
		</div>
		<%= item.compiled_content %>
	</article>
<% end %>

</div>