/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline; }
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block; }
	body {
		line-height: 1; }
	ol, ul {
		list-style: none; }
	blockquote, q {
		quotes: none; }
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none; }
	table {
		border-collapse: collapse;
		border-spacing: 0; }

	/* apply a natural box layout model to all elements */
	* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

	/* clearfix
	 * src= http://nicolasgallagher.com/micro-clearfix-hack/
	/**
	 * For modern browsers
	 * 1. The space content is one way to avoid an Opera bug when the
	 *    contenteditable attribute is included anywhere else in the document.
	 *    Otherwise it causes space to appear at the top and bottom of elements
	 *    that are clearfixed.
	 * 2. The use of `table` rather than `block` is only necessary if using
	 *    `:before` to contain the top-margins of child elements.
	 */
	.cf:before,
	.cf:after {
		content: " "; /* 1 */
		display: table; /* 2 */
	}

	.cf:after {
		clear: both;
	}

	/**
	 * For IE 6/7 only
	 * Include this rule to trigger hasLayout and contain floats.
	 */
	.cf {
		*zoom: 1;
	}

		
/* #Basic Styles
================================================== */
	body {
		background: #fff;
		font: 14px/1.6 "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: #444;
		-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
		-webkit-text-size-adjust: 100%;
 }


/* #Typography
================================================== */
h1, h2, h3, h4, h5, h6 {
	color: #111;
	font-weight: bold;
}

h1 			{ font-size: 3em; line-height: 1.1; padding-bottom: 0.33em;}
.subtitle { font-size: 1.5em; line-height: 1.3; margin-bottom: 2em; font-weight: 300;}
h2			{ font-size: 1.5em; line-height: 1.1em; margin-bottom: 0.5em; margin-top: 1.75em;}
h3 			{ font-size: 1.25em; line-height: 1.3; margin-top: 1em;}
h4 			{ font-size: 1.5em; line-height: 1.4; font-weight: normal; padding-bottom: 0.25em; margin-top: 0.66em;}
h5 			{ font-size: 1em; line-height: 1.5; }
h6 			{ font-size: 1em; line-height: 1.6; }

p 			{ margin: 0 0 1em 0; }
em 			{ font-weight: 600; }
strong 	{ font-weight: bold; }
hr 			{ border: solid #ddd; border-width: 1px 0 0; clear: both; margin: 10px 0 30px; height: 0; }


/* #Links
================================================== */
	a { color: #333; text-decoration: underline; outline: 0; }
	a:hover, a:focus { color: #000; }