#skip-nav {
  visibility: hidden;
  height: 0px;
  position: absolute;
}

body {
  background: #fffaff;
}

#page {
}

#nav li {
  display: inline-block;
}

.homepage-portfolio-item {
  clear: both;
  margin-top: 6em;
  padding: 2em 3% 8em 5%;
  border-bottom: 1px solid #bbb;
}

/* clearfix */
.group:after {
  content: "";
  display: table;
  clear: both;
}

.images {
    width: 61.875%;
    float: right;
    margin-left: 4%;
}
.images img {
    height: 30em;
    box-shadow: 0px 1px 3px rgba(128, 129, 133, 0.5);
    margin-left: 2%;
}

/* for unslider */
.images { position: relative; overflow: auto; }
    .images li { list-style: none; }
        .images ul li { float: left; }
  .images .dots {
    position: absolute;
    right: 0;
    bottom: 0px;
  }
    .images .dots li {
      display: inline-block;
      width: 10px;
      height: 10px;
      margin: 0 4px;

      text-indent: -999em;

      border: 2px solid #000;
      border-radius: 6px;

      cursor: pointer;
      opacity: .4;

      -webkit-transition: background .5s, opacity .5s;
      -moz-transition: background .5s, opacity .5s;
      transition: background .5s, opacity .5s;
    }
      .images .dots li.active {
        background: #000;
        opacity: 1;
      }
.project-overview {
    width: 38.175%;
}
.captioned-image p {
    font-size: 0.9em;
    padding-bottom: 1em;
}
.item-description {
    float: left;
    width: 38.1%;
}

/* fluidbox */
#fluidbox-overlay {
  background-color: rgba(255,255,255,.85);
  cursor: pointer;
  cursor: -webkit-zoom-out;
  cursor: -moz-zoom-out;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 500;
}
.fluidbox-wrap {
  background-position: center center;
  background-size: cover;
  margin: 0 auto;
  position: relative;
  z-index: 400;
  transition: all .25s ease-in-out;
}
  .fluidbox-opened .fluidbox-wrap {
    z-index: 600;
  }
.fluidbox-ghost {
  background-size: cover;
  background-position: center center;
  position: absolute;
  transition: all .25s ease-in-out;
}
