		</div> <!-- end maincontent div -->
	</div><!-- end #page div -->
</div><!-- end .page-wrapper div -->
	<div class="footer-wrapper wrapper">
		<div id="footer" class="group">
		</div>
	</div>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/assets/js/imagesloadedpkgd.js"></script>
	<script type="text/javascript" src="/assets/js/jqueryfluidbox.js"></script>
	<!--
	<script type="text/javascript" src="/assets/js/jquerytocifymin.js"></script>
	<script type="text/javascript" src="/assets/js/waypointsmin.js"></script>
	<script type="text/javascript" src="/assets/js/jcaptionmin.js"></script>
	-->
	<script type="text/javascript" src="/assets/js/app.js"></script>
  </body>
</html>
