  <body>
  	<a href="#main" id="skip-nav">Skip Navigation</a>
  	<div id="page-header" class="group">
		<a href="/portfolio/" id="logo"><img src="/assets/images/bright-blue-logo.png" alt="My Logo" id="logo-img"/></a>
		<% nav_items = ["portfolio",  
						"resume", 
						"about"
						#{ }"other work"
						] 
		%>
		<div id="nav">
			<ul>
			<% for item in nav_items %>
				<% 
				itemhref = 'portfolio/'
				unless (item == "home")
					itemhref = item + '/'
				end
				capitalized_item = item.split(" ").each{|word| word.capitalize!}.join(" ");
				%>
				<li><a href="/<%= itemhref.gsub(/ /,'-') %>"><%= capitalized_item %></a></li>
			<% end %>
		</ul>
		</div>
	</div>
  	<div id="page-wrapper">
		<a name="main"></a>
		<div id='main-content'>