  <body>
  	<a href="#main" id="skip-nav">Skip Navigation</a>
  	<div id="page-header">
		<% nav_items = ["home", "about", "resume", "contact", "archive"] %>
		<div id="nav">
			<% for item in nav_items %>
				<% 
				itemhref = 'portfolio/'
				unless (item == "home")
					itemhref = item + '/'
				end
				%>
				<li><a href="/<%= itemhref.gsub(/ /,'-') %>"><%= item.capitalize %></a></li>
			<% end %>
		</div>
		<div id="logo"><img src="/assets/images/logo.png" alt="My Logo" id="logo-img"/></div>
	</div>
	<a name="main"></a>