  <body>
  	<a href="#main" id="skip-nav">Skip Navigation</a>
  	<div id="page-header">
		<a href="/portfolio/" id="logo"><img src="/assets/images/logo.png" alt="My Logo" id="logo-img"/></a>
		<% nav_items = ["portfolio", "about", "resume", "other work"] %>
		<div id="nav">
			<ul>
			<% for item in nav_items %>
				<% 
				itemhref = 'portfolio/'
				unless (item == "home")
					itemhref = item + '/'
				end
				%>
				<li><a href="/<%= itemhref.gsub(/ /,'-') %>"><%= item.capitalize %></a></li>
			<% end %>
		</ul>
		</div>
	</div>
	<a name="main"></a>
	<div id='maincontent'>