---
title: ChemCollective
number : 3
description: Making online chemistry learning resources more navigable
date: Summer 2011
context: Internship project(s)
worked_on: Usability evaluation, information architecture, graphic design (logo, color scheme, layout, typography), user interface design, front-end web development, back-end web development, database design
tools_used: Adobe Illustrator
technologies_used: HTML, CSS, Javascript, PHP, Codeigniter, SQL
link: http://chemcollective.org
kind: portfolio
case_study: true
cover_image_title: NCSSM_Display_Photos_Collection_0319
cover_image_link: http://www.flickr.com/photos/ncssm/8610015445/
cover_image_author: NCSSM
cover_image_author_link: http://www.flickr.com/photos/ncssm/
cover_image_license: CC BY-NC-SA 2.0
cover_image_license_link: http://creativecommons.org/licenses/by-nc-sa/2.0/
---
<div class="project-info">
  <div class="metadata">
    <dl>
      <dt>Date</dt>
      <dd><%= @item[:date] %></dd>
      <dt>Context</dt>
      <dd><%= @item[:context] %></dd>
      <dt>Responsibilities</dt>
      <dd><%= @item[:worked_on] %></dd>
      <dt>Tools and technologies used</dt>
      <dd><%= @item[:tools_used] %>, <%= @item[:technologies_used] %></dd>
    </dl>
  </div>
  <div class="project-overview">
    <p>The ChemCollective has provided free online resources for chemistry teachers and students since 2000. During my internship there in 2011, I redesigned the ChemCollective’s logo and website, reengineered the backend of the site to use an MVC web framework, and consulted on the interface for their Virtual Lab.</p>
    <p>The overarching goal for the redesign was to give the site a more modern, friendly feel, while better communicating what it offered to users: academic resources for teaching and learning chemistry.</p>
  </div>
  <div class="links">
    <a href="<%= @item[:link] %>">Visit the ChemCollective website</a>
  </div>
</div>
<div class="images">
  <ul>
    <li class="captioned-image group chemcoll-logo">
      <div class="image-wrapper">
        <img alt="The new logo ChemCollective logo." src="/assets/images/chemcoll/logo.jpg"/>
      </div>
      <div class="caption long-caption">
        <p>For the new logo, I chose the typeface Lubalin Graph because its geometric forms and slab serifs gave it a scientific and academic feel, while its rounded shapes made it friendly. Scientific, academic, friendly—all fitting adjectives for the ChemCollective.</p>
        <p>The graduated cylinder incorporated into the wordmark relates the first part of the ChemCollective’s name. The image of a graduted cylinder associates strongly with the concept of chemistry (the ‘Chem’ in ChemCollective).</p>
        <p>The ChemCollective provides resources for teachers, but it’s mission extends to enabling teachers to give feedback, share classroom experiences, discuss instruction, and author their own resources. The equilibrium symbol (⇌), and a retrosynthetic arrow (⇒) in addition to the regular reaction arrow in MarvinSketch?) communicates the ‘Collective’ in ChemCollective, indicating an exchange between the project and those it serves.</p>
      </div>
    </li>

    <li class="captioned-image group chemcoll-old-home-screenshot">
      <div class="image-wrapper">
        <a href="/assets/images/chemcoll/old-homepage.png" data-fluidbox>
          <img alt="The old ChemCollective homepage design." src="/assets/images/chemcoll/old-homepage.png"/>
        </a>
      </div>
      <div class="caption long-caption">
        <p>The old home page had weak visual hierarchy, felt stuffy and out of date, and did not offer convenient access to most of the content on the site.</p>
        <p>The vast majority of visitors to the homepage immediately clicked the “Find Activities” link.  However, its placement and styling do not reflect its importance.</p>
      </div>
    </li>
    <li class="captioned-image group chemcoll-new-home-screenshot">
      <div class="image-wrapper">
        <a href="/assets/images/chemcoll/new-homepage.png" data-fluidbox>
         <img alt="An image of the new ChemCollective homepage." src="/assets/images/chemcoll/new-homepage.png"/>
        </a>
      </div>
      <div class="caption long-caption">
        <p>Clear hierarchy and copy better communicate what the site offers to new visitors</p>
        <p>Left navigation and quick links provide quick and prominent access to activities and resources that were previously listed only on the “Find Activities” page.</p>
        <p>Navigation for non-educational content is clearly separated.</p>
      </div>
    </li>
    <li class="captioned-image group chemcoll-listing">
      <div class="image-wrapper">
        <img alt="A screenshot of a page on the new ChemCollective website which lists activities hierarchically by type and then topic." src="/assets/images/chemcoll/expanded-autograded-listing.png"/>
      </div>
      <div class="caption">
        <p>Transitioning the ChemCollective site to be database-driven allowed for activities to be automatically organized based on metadata like their type and topic.</p>
      </div>
    </li>
    <li class="captioned-image group chemcoll-new-colors wide">
      <div class="image-wrapper">
        <img alt="The new color scheme: blue-grey, bright green, light green, dark blue, and bright blue." src="/assets/images/chemcoll/color-scheme.png"/>
      </div>
      <div class="caption">
        <p>The new color scheme feels fresh, modern, academic, friendly, and “sciencey”</p>
      </div>
    </li>
    <li class="captioned-image group chemcoll-vlab-sketch">
      <div class="image-wrapper">
        <a href="/assets/images/chemcoll/vlab.png" data-fluidbox>
          <img alt="A low fidelity mockup of a computer interface for a virtual chemistry lab. Chemicals available for use are listed in the upper left corner. A workspace takes up the bottom portion of the screen. A panel of information about the currently selected chemical is in the upper right. Surrounding the sketch are smaller drawings of pop-ups that would appear when a user interacts with UI elements." src="/assets/images/chemcoll/vlab.png"/>
        </a>
      </div>
      <div class="caption">
        <p>After evaluating issues with the current interface and researching competitors’ interfaces and interfaces for analogous tasks. I created this a new design for the Virtual Lab. This mockup is of the main work area. One key change here was grouping all of the information about the currently selected chemical in one place, so that it would be simpler to monitor.</p>
      </div>
    </li>
  </ul>
</div>



