---
title: Medical History Form
number: 6
date: Fall 2013
context: UI design exercise, completed in a few hours for a job application
description: Data entry interface for a patient's medical history
worked_on: UI Design and Documentation
tools_used: Adobe Illustrator
cover_image_title: observations of a doctor's use of mobile tech with a patient
cover_image_link: http://www.flickr.com/photos/triciawang/4076554796/
cover_image_author: Tricia Wang
cover_image_author_link: http://www.flickr.com/photos/triciawang/
cover_image_license: CC BY-NC-SA 2.0
cover_image_license_link: http://creativecommons.org/licenses/by-nc-sa/2.0/
---
<div class="project-info">
  <div class="metadata">
    <dl>
      <dt>Date</dt>
      <dd><%= @item[:date] %></dd>
      <dt>Context</dt>
      <dd><%= @item[:context] %></dd>
      <dt>Worked on</dt>
      <dd><%= @item[:worked_on] %></dd>
      <dt>Tools used</dt>
      <dd><%= @item[:tools_used] %></dd>
    </dl>
  </div>
  <div class="project-overview">
    <p>In this exercise, I created a desktop interface for entering data about a person's medical history. The medical history was required to have three types of data: a health questionnaire, personal medical history, and family medical history for the patient.</p>
    <p>Given the data required for the medical history, I was free to organize the collection in any order. The two other constraints were that the interface should be modular—allowing addition or removal of data collection sections—and that the interface should support recognition of relationships between the patient's medical history and their family medical history.</p>
  </div>
</div>
<div class="images">
  <div>
    <a href="/assets/images/medical-history/01-mhf.png" data-fluidbox>
      <img src="/assets/images/medical-history/01-mhf.png"/>
    </a>
  </div>
  <div>
    <a href="/assets/images/medical-history/02-mhf.png" data-fluidbox>
      <img src="/assets/images/medical-history/02-mhf.png"/>
    </a>
  </div>
  <div>
    <a href="/assets/images/medical-history/03-mhf.png" data-fluidbox>
      <img src="/assets/images/medical-history/03-mhf.png"/>
    </a>
  </div>
  <div>
    <a href="/assets/images/medical-history/04-mhf.png" data-fluidbox>
     <img src="/assets/images/medical-history/04-mhf.png"/>
    </a>
   </div>
  <div>
    <a href="/assets/images/medical-history/05-mhf.png" data-fluidbox>
      <img src="/assets/images/medical-history/05-mhf.png"/>
    </a>
  </div>
</div>
