---
title: Emergency Numbers Card
number: 2
description: Providing emergency information for women at wallet-scale
date: September 2013
context: Personal project
pdf: /assets/pdf/mosaic-cards.pdf
worked_on: Research, copywriting, print design (specifically, pattern design, color choice, and typography)
tools_used: Adobe Illustrator
kind: portfolio
case_study: true
---
<div class="project-info">
  <div class="metadata">
    <dl>
      <dt>Date</dt>
      <dd><%= @item[:date] %></dd>
      <dt>Context</dt>
      <dd><%= @item[:context] %></dd>
      <dt>Worked on</dt>
      <dd><%= @item[:worked_on] %></dd>
      <dt>Tools used</dt>
      <dd><%= @item[:tools_used] %></dd>
    </dl>
  </div>
  <div class="project-overview">
    <p>One of my friends involved with the <a href="http://www.studentaffairs.cmu.edu/student-life/gender/mosaic/index.html">Mosaic Gender Conference at CMU</a> asked me to design a handout with a list of hotlines and emergency services related to domestic violence and sexual assualt. My goal for the design was to make the list into a handout that would useful (in the context of an emergency) and desirable (so that people would keep it.)</p>
    <p>Though the cards were originally designed for the conference, they were so positively received that Student Health Services plans to distribute them in the on-campus clinic.</p>
  </div>
  <div class="links">
    <a href="<%= @item[:pdf] %>">View PDF of Mosaic Conference Cards</a>
  </div>
</div>
<div class="images">
  <ul>
    <li class="captioned-image multiple three">
      <img alt="Test print of the front of the card." src="/assets/images/mosaic-cards/testprint-front.jpg"/>
      <img alt="Test print of the inside of the card."  src="/assets/images/mosaic-cards/testprint-center.jpg"/>
      <img alt="Test print of the back of the card." src="/assets/images/mosaic-cards/testprint-back.jpg"/>
      <p>I decided that the handout should be small, wallet-sized, so that people would be likely to have it at hand in an emergency. To make sure the card was an appropriate size, I printed out copies as I worked on the design.</p>
    </li>
    <li class="captioned-image mosaic-front tall">
      <img src="/assets/images/mosaic-cards/front.png"/>
      <p>The front of the card is decorative, to make it inconspicuous when tucked into a wallet, and to make it aesthetically appealing (so that people would be more likely to keep it.)</p>
    </li>
    <li class="captioned-image mosaic-back tall">
      <img src="/assets/images/mosaic-cards/back.png"/>
      <p>The back of the card has more general resources listed—ones which wouldn’t be uncomfortable for a stranger to oversee.</p>
    </li>
    <li class="captioned-image mosaic-center">
      <img src="/assets/images/mosaic-cards/center.png"/>
      <p>The inside of the card includes information for more sensitive emergency services, which are specifically for victims of sexual assault or domestic violence. The typography is designed to be highly readable, to feel calm, and to use space effectively.</p>
      <p>Since most people wouldn't be familiar with the hotlines and services listed on the card, I wrote succinct descriptions of each one. The descriptions included information about hours, transit information, and confidentiality policies, so that a person looking at the card can quickly find the service they need, when they need it.</p>
      <p>To write the two internal headings, I researched communication with survivors of sexual assault and domestic violence. Both phrases were chosen to encourage survivors to seek help.</p>
    </li>
  </ul>
</div>


