---
title: Lilypad
number: 7
description: Helping a special-needs school collect and analyze their data
date: September 2013-Present
context: Research project for which I am a Research Assistant at the HCII
worked_on: User research, user testing, paper prototyping, UI design, database design, front-end web development
technologies_used: HTML, CSS, Javascript, raphael.js, hammer.js
team: Shruti Kataria, Greg Nicholas, Arthur Hong
case_study: false
code: https://github.com/gregarious/lilypad-plea
---
<div class="project-info">
  <div class="metadata">
    <dl>
      <dt>Date</dt>
      <dd><%= @item[:date] %></dd>
      <dt>Context</dt>
      <dd><%= @item[:context] %></dd>
      <dt>Worked on</dt>
      <dd><%= @item[:worked_on] %></dd>
      <dt>Technologies used</dt>
      <dd><%= @item[:technologies_used] %></dd>
      <dt>Primary collaborators (it's a large research team)</dt>
      <dd><%= @item[:team] %></dd>
    </dl>
  </div>
  <div class="project-overview">
    <p>Lilypad is a mobile web application for iPad. Its users are teachers at a school and partial hospital in Pittsburgh. The app aids teachers in collecting information about trends in childrens’ behavior and academic performance.</p>
    <p>As a Research Assistant on the project, I have conducted weekly user tests, iteratively prototyped the application at increasing levels of fidelity, and helped to develop the actual application. </p>
  </div>
  <div class="links">
    <a href="<%= @item[:date] %>">See the code for Lilypad on Github</a>
  </div>
</div>
<div class="images">
  <div class="captioned-image plea-paper-scc">
    <div class="image-wrapper">
      <img alt="Photo of a filled-out paper version of the standard celeration chart." src="/assets/images/plea-app/scc-original-chart.jpg"/>
    </div>
    <div class="caption">
      <p>The paper version of the standard celeration chart that teachers use to track student's academic performance on individual skills. It captures and visualizes data simultaneously, and can be used extremely efficiently by experts. However, the paper format limits possible uses of the data (e.g., other visualizations, comparing to historical data)</p>
    </div>
  </div>
  <div class="captioned-image plea-digital-scc-screenshot">
    <div class="image-wrapper">
      <img alt="The digital version of the standard celeration chart, on an iPad." src="/assets/images/plea-app/scc-edit.png"/>
    </div>
    <div class="caption">
      <p>The digital version of the standard celeration chart which we have been developing. Teachers can input data points either by tapping the chart, or by typing in values in the sidebar on the right.</p>
    </div>
  </div>
  <div class="captioned-image plea-nav-screenshot">
    <div class="image-wrapper">
      <img alt="The navigation UI for the Lilypad app." src="/assets/images/plea-app/scc-nav.png"/>
    </div>
    <div class="caption">
      <p>Currently, teachers keep a binder of charts for each student. In our app, all of a teacher's students are listed in the main navigation. Once a student is selected, a teacher sees a list of all of their charts.</p>
    </div>
  </div>
  <div class="captioned-image plea-paper-behavior">
    <div class="image-wrapper">
      <img alt="A photo of a partially filled out paper version of the behavior scatterplot." src="/assets/images/plea-app/behavior-orig-2.JPG"/>
    </div>
    <div class="caption">
      <p>Teachers use to track skill development, but they also keep a behavior scatterplot chart for their students to track occurrences of  “behaviors of concern.”</p>
    </div>
  </div>
  <div class="captioned-image plea-digital-behavior">
    <div class="image-wrapper">
      <img alt="The UI which we are developing for the digital version of the behavior scatterplot." src="/assets/images/plea-app/behavior-new-2.png"/>
    </div>
    <div class="caption">
      <p>In the digital version of the behavior scatterplot, we prioritized ease of data entry and reading (color-coding each behavior.)</p>
    </div>
  </div>
</div>


