---
title: StreetSmart
number: 5
description: Hackathon project to tell you what streets are safe
date: June 2012
context: Hackathon project, completed in approximately 10 hours
pdf: /assets/pdf/StreetSmart-Presentation.pdf
worked_on: Project management, ideation, UI design, front-end development, presentation (speaking)
technologies_used: HTML, CSS, Javascript, Python, Django, Google Maps API, Spotcrime API
team: Angel Fleinhardt Martinez, Marc Howard, Miriam Melnick, and Missy Kayko
case_study: true
code: https://github.com/miriammelnick/dont-get-mugged
---
<div class="project-info">
  <div class="metadata">
    <dl>
      <dt>Date</dt>
      <dd><%= @item[:date] %></dd>
      <dt>Context</dt>
      <dd><%= @item[:context] %></dd>
      <dt>Responsibilities</dt>
      <dd><%= @item[:worked_on] %></dd>
      <dt>Technologies used</dt>
      <dd><%= @item[:technologies_used] %></dd>
      <dt>Team members</dt>
      <dd><%= @item[:team] %></dd>
    </dl>
  </div>
  <div class="project-overview">
    <p>StreetSmart is a mobile web application that helps you know what streets are safe to travel. My team designed and prototyped StreetSmart in a day at the Hack ‘n’ Jill hackathon, and we won first place.</p>
  </div>
  <div class="links">
    <ul>
      <li><a href="/case-studies/<%= item.identifier %>-case-study">Read the case study</a></li>
      <li><a href="<%= @item[:code] %>">See the code behind StreetSmart</a></li>
      <li><a href="<%= @item[:pdf] %>">View presentation slides</a></li>
    </ul>
  </div>
</div>
<div class="images">
  <ul>
    <li class="captioned-image streetsmart-spotcrime">
      <div class="image-wrapper small-image">
        <img src="/assets/images/streetsmart/spotcrime.png"/>
      </div>
      <div class="caption">
        <p>We used the SpotCrime API to get crime data for a location. When you visit the SpotCrime website, you see icons on a map indicating recent crimes nearby. We wanted to take this data and condense it to higher-level information to be used for navigation.</p>
      </div>
    </li>
    <li class="captioned-image streetsmart-main tall">
      <div class="image-wrapper small-image">
        <a href="#" data-fluidbox><img src="/assets/images/streetsmart/streetsmart-main.png"/></a>
      </div>
      <div class="caption">
        <p>The user’s location is shown with a blue dot, and streets around them are color-coded based on crime data.</p>
      </div>
    </li>
    <li class="captioned-image streetsmart-geo tall">
      <div class="image-wrapper small-image">
        <img src="/assets/images/streetsmart/streetsmart-geo.png"/>
      </div>
      <div class="caption">
        <p>Since this is a mobile web application, rather than native, it cannot access GPS data without permission. StreetSmart prompts the user for permission to geolocate them. If they refuse, the app asks for a street address instead.</p>
      </div>
    </li>
  </ul>
</div>