---
title: Typesetting
number: 4
description: Sweating the details with Dan Boyarski
date: Fall 2012
context: Independent study course in typography
worked_on: Type selection, typesetting, layout
tools_used: Adobe Illustrator, Adobe InDesign
cover_image_title: typesetting
cover_image_link: http://www.flickr.com/photos/queen_of_subtle/4462520710/in/faves-julialt/
cover_image_author: Jenni Konrad
cover_image_author_link: http://www.flickr.com/photos/queen_of_subtle/
cover_image_license: CC BY-NC 2.0
cover_image_license_link: http://creativecommons.org/licenses/by-nc/2.0/
---
<div class="project-info">
  <div class="metadata">
    <dl>
      <dt>Date</dt>
      <dd><%= @item[:date] %></dd>
      <dt>Context</dt>
      <dd><%= @item[:context] %></dd>
      <dt>Worked on</dt>
      <dd><%= @item[:worked_on] %></dd>
      <dt>Tools used</dt>
      <dd><%= @item[:tools_used] %></dd>
    </dl>
  </div>
  <div class="project-overview">
    <p>During Fall 2012, I did an independent study in typography with Professor Dan Boyarski. The course projects included creating a book covers for the “Vision+Value” series, and typesetting an essay, interview, and a few recipes.</p>
    <p>The course focused on reinforcing meaning using type by selecting typefaces that fit the content’s message, setting type readably (varying size, line length, leading, etc.), and   considering the relationship between type and image.</p>
  </div>
  <div class="links">
    <p>PDFs for Typography Projects:</p>
    <ul>
      <li><a href="/assets/pdf/typography-vv-covers.pdf">Vision+Value Series Covers</a></li>
      <li><a href="/assets/pdf/typography-anna-quindlen.pdf">Anna Quindlen Commencement Speech</a></li>
      <li><a href="/assets/pdf/typography-terry-pratchett.pdf">Terry Pratchett Interview</a></li>
      <li><a href="/assets/pdf/typography-recipes.pdf">Recipes</a></li>
    </ul>
  </div>
</div>
<div class="images">
  <ul>
    <li class="captioned-image type-book-covers wide">
      <div class="image-wrapper">
        <a href="/assets/images/typography/BookSeriesCoversAll.png" data-fluidbox>
          <img alt="Four book covers for the Vision+Value series, side by side." src="/assets/images/typography/BookSeriesCoversAll.png"/>
        </a>
      </div>
      <div class="caption">
        <p>The Vision+Value series features essays by well known designers on design practice and philosophy. In my designs, I strove to communicate the theme of each book through variations in color, graphic, and the typography of the title. Using a standard layout, typeface, and style of graphics I related the covers to one another as a series.</p>
      </div>
    </li>
    <li class="captioned-image type-aq-crop">
      <div class="image-wrapper">
        <a href="/assets/images/typography/aq-crop.png" data-fluidbox>
          <img alt="A cropped image of a title and two paragraphs of text from a commencement speech by Anna Quindlen" src="/assets/images/typography/aq-crop.png"/>
        </a>
      </div>
      <div class="caption long-caption">
        <p>I typeset a commencement speech given my Anna Quindlen at Mount Holyoke College. In the speech, Quindlen urges her audience to give up on the idea of being perfect, and be true to themselves rather than please others.</p>
        <p>The typeface Swift, as a serif, is more traditional and intimate. Its forms have a bright feel and distinctive personality. These characteristics made it the right choice for this personal, earnest, and inspiring speech.</p>
      </div>
    <li class="captioned-image type-terryprattchet">
      <div class="image-wrapper">
        <a href="/assets/images/typography/terry-pratchett.png" data-fluidbox>
          <img src="/assets/images/typography/terry-pratchett.png"/>
        </a>
      </div>
      <div class="caption long-caption">
        <p>In this interview transcript, American author Neil Gaiman interviews the British author Terry Pratchett. Gaiman and Pratchett are two of my favorite authors, and have also collaborated as writers.</p>
        <p>My design for this piece uses type identify each author throughout the interview.  The typefaces I chose for each author are meant to reflect their personality (ITC Legacy Sans for Neil Gaiman, and Goudy  Bookletter for Pratchett.)</p>
      </div>
    </li>
    <li class="captioned-image type-recipe">
      <div class="image-wrapper">
        <a href="/assets/images/typography/recipe1.png" data-fluidbox>
          <img src="/assets/images/typography/recipe1.png"/>
        </a>
      </div>
      <div class="caption">
        <p>I created an experimental design for a recipe book. The book uses layout and images  to add meaning to the text of the recipe—separating ingredients, preparation, and cooking into parallel columns. The images on the left are numbered to correspond with the preparation and cooking steps (rather than only showing the final product.)</p>
      </div>
    </li>
  </ul>
</div>